<p id="notice"><%= notice %></p>

<p>
  <strong>Podpis:</strong>
  <%= @comment.podpis %>
</p>

<p>
  <strong>Komentarz:</strong>
  <%= @comment.komentarz %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment.post %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
