<div id="page-content">
        
  <h2 class="page-header text-center">
    <%= @project.name %>
  </h2>

  <div class="row">
    <div class="col-md-8">
      <div class="laptop-bg">
        <div class="laptop-wrapper">
          <%= content_tag(:div, image_tag("spolisty.jpg", class: "laptop-content-bg")) %>
          <%= content_tag(:div, image_tag("spolisty1.jpg", class: "laptop-content-bg")) %>
          <%= content_tag(:div, image_tag("spolisty2.jpg", class: "laptop-content-bg")) %>
          <%= content_tag(:div, image_tag("spolisty3.jpg", class: "laptop-content-bg")) %>
        </div>

        <img src="<%= asset_path('laptop.png')%>" alt="">
      </div>
    </div>
    <div class="col-md-4 projekt-opis">
      <div class="row">
        <div class="col-md-12">
        <h5>Technologia</h5>
          <ul class="list-unstyled">
            <li>Ruby on Rails</li>
            <li>Bootstrap</li>
            <li>RSpec</li>
            <li>SCSS</li>
          </ul>
        </div>
        <div class="col-md-12 opis">
          <h5>Funkcjonalności</h5>
          <%= @project.description %>
        </div>
        <div class="col-md-12">
          <div class="btn btn-success btn-sm pull-left">
            <a href="http://spolisty.com">spolisty.com</a>
          </div>
            <%= link_to 'Wstecz', root_path, class: 'btn btn-success btn-sm' %>
        </div>        
      </div>
      
    </div>
  </div>
    
  
</div>
