<div id="page-content">

	<!-- Page Title -->
	<div class="page-title bottom-padded">
    	
        <!-- Page Title Background -->
    	<div class="page-title-bg editable-alpha" data-alpha="10"><img src="images/blog/post-big_01.jpg" alt="" /></div>
        
        <div class="content padded">
        
          <!-- Top Bar -->
          <div class="top-bar">
            <!-- Go Back -->
            <div class="pull-left">
              <%= link_to tags_path, class: "btn btn-default btn-pull-up" do %>
                <i class="icon-before fa fa-chevron-left">   Tagi</i>
              <% end %>
                
            </div>
            <!-- Heading -->
            <div class="pull-right">
                <h6>www.tpanek.pl</h6>
            </div>
          </div>
          
          <!-- Page Title Content -->
          <div class="padded-vertical">
          	<span class="post-date-alt"><%= l @tag.created_at %></span>
            <h1 class="medium"><%= @tag.title %></h1>
            <div class="post-meta pull-left">
                <span><i class="fa fa-tag"></i><a href="#">Webdesign</a></span>
            </div>
          </div>
          
        </div>
          
    </div>

    <div class="container content comments">
    
      <div class="row">
      
        <div class="col-lg-12">

  <pre>
    <%= JSON.pretty_generate(@tag.calytag) %>
    
  </pre>


        
          <p class="lead"><%= @tag.description %></p>
          <p>
            <%= @tag.wykoptag_id %>
          </p>
          <% if @tag.body %>
            <div class="post_body">
              <%= @tag.body.html_safe %>
            </div>
          <% end %>
            <p> 
              <%= link_to @tag.url, :target => "_blank" do %>
                <strong>Link do wpisu na wykop.pl:</strong>
              <% end %>
            </p>

            <% if @tag.source_url %>
              <% if @tag.source_url.include? "youtube.com/" %>
                <div class="embed-container"> 
                  <p><%= embed(@tag.source_url) %></p>
                </div>
              <% else %>
                <p><%= link_to "Link to strony", @tag.source_url, :target => "_blank" %></p>
              <% end %>
            <% else %>
              <% if @tag.foto.include? "youtube.com/" %>
                <div class="embed-container"> 
                  <p><%= embed(@tag.foto) %></p>
                </div>
              <% else %>
                <p><%= @tag.foto %></p>
              <% end %>
            <% end %>
            
            <% if @tag.foto %>
              <% unless @tag.foto.include? "youtube.com/" %>
                <p>
                  <%= image_tag(@tag.foto) %>
                </p>  
              <% end %>
            <% end %>
        </div>

      </div>

    </div>

</div>
<!-- Page Content / End -->



