<section id="blog">

  <div class="content padded">
    
      <div  class="row">
      
        <div class="col-lg-12">
            
          <!-- Post Carousel --> 
          <div class="post-carousel animated slide-in-top">
      
            <!-- Pojedyńczy Post -->
            <% @posts.each do |post| %>
              <article class="post post-carousel-item">
                  <div class="post-image"><img src="<%= asset_path('blog/post_01.jpg')%>" alt="" /></div>
                  <div class="post-content-holder">
                      <div class="post-content">
                          <div class="post-info clearfix">
                              <span class="post-date"><%= l post.created_at %></span>
                              <div class="post-meta">
                                  <span><i class="fa fa-comment"></i><a href="#">4 comments</a></span>
                                  <span><i class="fa fa-tag"></i><a href="#">Webdesign</a></span>
                              </div>
                          </div>
                          <div class="post-text">
                              <h3><a href="single-post.html"><%= post.title %></a></h3>
                              <p class="lead"><%= post.description %></p>
                              <%= link_to "Czytaj więcej", post_path(post), class: "btn btn-primary btn-sm" %>
                              <%= link_to "Edytuj", edit_post_path(post), class: "btn btn-primary btn-sm" %>      
                              <%= link_to "Usuń", post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm" %>    

                          </div>
                      </div>
                  </div>
              </article>
            <% end %>
          </div>
          <!-- End Of Section -->
          <div class="end-of-section">
      
            <!-- Left Caption -->
            <div class="pull-left">
              <span class="hiddend-sm hidden-xs">Chcesz zobaczyć wszystkie wpisy? &nbsp; &nbsp;</span>
              <%= link_to "Sprawdź mój blog!", posts_path, class: 'btn btn-black btn-sm'%>
              <% if user_signed_in? %>
                <%= link_to "Nowy post", new_post_path, class: "btn btn-black btn-sm" %>
              <% end %>
            </div></br>   
             
            <!-- Post Carousel Navigation -->  
            <div class="post-carousel-control">
              <a class="post-carousel-prev" href="#">Wstecz</a>
              <a class="post-carousel-next" href="#">Dalej</a>
            </div>
          
          </div><!-- /End of section -->
            
      </div>
        
    </div>
    
</section>