<header id="nav-content" class="vertical-nav nav-white">

  <!-- Logo -->
  <div class="my-logo">
      <a href="#profile"><img src="<%= asset_path('github_profile.jpg')%>" alt="moje_foto" /></a>
    </div>
    
    <!-- Navigation -->
    <ul class="menu nav me-nav">
      <li class="menu-item active"><a href="<%= root_path %>"><span>Home</span><i class="fa fa-user"></i></a></li>

        <li class="menu-item">
          <%= link_to root_path(anchor: "resume") do %>
            <span>O mnie</span><i class='fa fa-pencil'></i>
          <% end %>
          <!-- <a href="#resume"><span>O mnie</span><i class="fa fa-pencil"></i></a> -->
        </li>

        <li class="menu-item">
          <%= link_to root_path(anchor: "blog") do %>
            <span>Ostatnie posty</span><i class="fa fa-comment"></i>
          <% end %>
          <!-- <a href="#blog"><span>Ostatnie posty</span><i class="fa fa-comment"></i></a> -->
        </li>
<!--         <li class="menu-item">
  <%#= link_to root_path(anchor: "portfolio") do %>
    <span>Projekty</span><i class="fa fa-desktop"></i>
  <%# end %>          
  <a href="#portfolio"><span>Projekty</span><i class="fa fa-desktop"></i></a>
</li> -->
        <li class="menu-item">
          <%= link_to root_path(anchor: "contact") do %>
            <span>Kontakt</span><i class="fa fa-phone"></i>
          <% end %>
        <!--   <a href="#contact"><span>Kontakt</span><i class="fa fa-phone"></i></a> -->
        </li>
        <!-- <li class="menu-item"><a href="components.html"><span>Components</span><i class="fa fa-bolt"></i></a></li> -->
    </ul>
    
    <!-- Copyright -->
    <span class="copyright hidden-md">© <%= Time.now.year %> <b>Tomasz Panek</b>.</span>

</header>